.header {
    background: #1171d7;
}

.header h3 {
    margin: 0px;
    padding: 10px;
    color: white;
}
h3 {
    text-align: center;
}

.tabs {
    display: flex;
    width: 300px;    
    margin: auto;
}

.tab {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
}

hr {
    margin: 0px;
}

.model {
    display: flex;
    width: 800px;
    margin: auto;
}

.rect {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid gray;
    cursor: pointer;
}

.active {
    background: #1171d7;
    border: none;
    color: white;
}

.graph {
    display: flex;
    width: 80%;
    margin: auto;
}
.pie_progress {
    width: 160px;
    margin: 10px auto;
}

.row {
    display: flex;
    padding: 10px 20px;
}

.col {
    flex: 1;

}

.col input {
    width: 90%;
}

#recovered {
    color: red;
}

.form-header {
    padding: 10px 20px;
    
}